# Virtual environment
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environment files
.env

# IDE settings
.vscode/
.idea/
